@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #102F55;
  --foreground: #ededed;
  --brand-green: #7ED957;
  --brand-blue: #102F55;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #102F55;
    --brand-green: #7ED957;
    --brand-blue: #102F55;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
